<div class="container text-center">
  <div *ngIf="characters; else noData">
    <div class="row d-flex justify-content-center">
      <div class="col-md-2 m-2" *ngFor="let actual of characters">
        <div class="card" (click)="viewInfo(actual.id)">
          <img class="card-img-top" [src]="actual.image" alt="image" />
          <span> {{ actual.name }} </span>
        </div>
      </div>
    </div>

    <div class="col d-flex justify-content-center my-2">
      <a (click)="onPrev()"><i class="bi bi-caret-left-fill"></i></a>
      <div class="pagination">
        <span>Pagina {{ current }} </span>
        &nbsp;
        <span> de {{ end }} </span>
      </div>
      <a (click)="onNext()"><i class="bi bi-caret-right-fill"></i></a>
    </div>
  </div>
  <ng-template #noData>
    <div class="content">
      <span class="loader"></span>
    </div>
  </ng-template>
</div>
