<div class="container text-center">
  <div *ngIf="characters; else noData">
    <div class="row">
      <div class="col-md-4" *ngFor="let actual of characters">
        <div class="card" (click)="viewInfo(actual.id)">
          <img [src]="actual.image" alt="" />
          <span> {{ actual.name }} </span>
        </div>
      </div>
    </div>

    <div class="col d-flex justify-content-center my-5">
      <button (click)="onPrev()">Anterior</button>
      <span>Pagina {{ current }} </span>
      &nbsp;
      <span> de {{ end }} </span>
      <button (click)="onNext()">Siguiente</button>
  </div>

  </div>
  <ng-template #noData>
    <div class="content">
      <span class="loader"></span>
    </div>
  </ng-template>
</div>
