<div class="container text-center">
  <div *ngIf="episode.id !== 0; else noData">
    <div class="row">
      <div class="card">
        <h1>{{ episode.name }}</h1>
        <h3>{{ episode.air_date }}</h3>
        <h5>Episodio: {{ episode.episode }}</h5>
        <div class="characters">
          <img alt="image" *ngFor="let character of characters" [src]="character.image"/>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noData>
    <div class="content">
      <span class="loader"></span>
    </div>
  </ng-template>
</div>
