.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 1em;
  border: none;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

img {
  width: 200px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
