<footer class="container-fluid">
  <div class="row align-items-center">
    <div class="col text-center text-dark">
      <div class="row">
        <div>
          <img id="logo-java" src="../../../../favicon.ico" alt="" />
        </div>
        <div class="col align-self-center">
          <div>
            <strong>Hecho con &#9829; por Rosyec</strong>
            <div>
              <small>© 2023 - Todos los derechos reservados </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
